{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css">
        .product{
            width: 80%;
            margin-left: 10%;
        }
        .comments{
            width: 70%;
            margin-left: 10%;
            justify-content: space-between;
            margin-top: 30px;
        }
        .comment{
            background: #242b2e;
            color: #fff;
            padding: 10px;
            margin-bottom: 20px;
        }
        .product_image{
            width: 100%;
        }
    </style>
    <div class="product">
        {% if product.image %}
            <img class="product_image" src="/media/{{ product.image }}" alt="">
        {% else %}
            <img class="product_image" src="https://cdn.wallpapersafari.com/7/66/NM8JEY.jpg" alt="">
        {% endif %}
        <h1>{{ product.name }}</h1>
        <h3>{{ product.price }} сом</h3>
    </div>
    <form action="/pizza/{{ product.id }}/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create Comment">
    </form>
    <div class="comments">
        {%for comment in comments %}
            <div class="comment">
            <h5>{{ comment.text }}</h5>
            </div>
        {% endfor %}
    </div>

{% endblock %}