{% extends 'layouts/index.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'products.css' %}">
{% endblock %}

{% block content %}
    <form action="/pizza", method="get">
        <input type="text" name="search">
        <input type="submit" value="search">
    </form>
    <div class="products">
        {% for product in products %}
            <div class="card" style="width: 18rem; margin-top: 20px">
                  <div class="card-body">
                      {% if product.image %}
                        <img class="product_image" src="/media/{{ product.image }}" alt="">
                      {% else %}
                        <img class="product_image" src="https://cdn.wallpapersafari.com/7/66/NM8JEY.jpg" alt="">
                      {% endif %}
                    <h2 class="card-title">{{ product.name }}</h2>
                    <h5 class="card-price">{{ product.price }} сом</h5>
                    <a href="{{ product.id }}" class="btn btn-primary">Detail</a>
                  </div>
            </div>
        {% endfor %}
    </div>
    <div class="pages">
        {% for page in max_page %}
            <a href="/pizza/?page={{ page }}">
                <button>{{ page }}</button>
            </a>
        {% endfor %}
    </div>
{% endblock %}